/* NAV */
.nav-item {
	margin: auto .5rem;
}

.nav-link.active {
	font-weight: 700;
}

.nav-scrolled {
	background-color: #f0f0f0;
	transition: all .5s linear;
}

.navbar-brand {
	padding: 0;
}

.navbar-collapse.show, .navbar-collapse.collapsing {	
	background-color: #f0f0f0;
}

/* NAV END */

#banner {
	background: url(../img/colorado.jpeg);
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	padding: 5rem 0;
}

.icon-font-l {
	font-size: 4rem;
}

/*SECTIONS*/
.section-padding {
	padding: 5rem 1rem;
}

.section-heading, .subsection-heading {
	padding: 2rem 0;
	text-align: center;
}

.section-height {
	min-height: 70vh;
}

#important-dates, #partner-events {
	background: #920101;
	color: white;
}

#sponsors {
	background: #e5e5e5;
}
/*SECTIONS END*/