#banner {
	background: url(../img/colorado.jpeg);
	height: 85vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	padding: 5rem;
}

.section-padding {
	padding: 5rem 1rem;
}

.section-heading, .subsection-heading {
	padding: 2rem 0;
	text-align: center;
}

#important-dates {
	background: #920101;
	color: white;
}

#sponsors {
	background: #e5e5e5;
}

.section-height {
	min-height: 100vh;
}

.icon-font-l {
	font-size: 4rem;
}

.px-vw-m {
	padding: 0 5vw;
}

.nav-item {
	margin: auto .5rem;
}

.nav-link.active {
	font-weight: 700;
}